.bodygroup {
    background-color: #004D40;
    text-align: center;
}

.body2 {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    text-align: left;
    left: 50%;
    right: 50%;
}
form {
    background-color: transparent;
}

#members h3 {
    text-transform: uppercase;
}

#members {background-color: darkslategray}

h1 {
    font-family:"Comic Sans MS", cursive, sans-serif  ;
}
#fixednav{width: 10px;position: fixed;bottom:55% ;right: 25px;}
#fixednav1{width: 10px;position:fixed;bottom:55% ;left: 0px;}
