doctype html
html(lang="en")
  head
    meta(name="description" content="An overview of various religions in Trinidad")
    meta(name="" content="")
    meta(name="keywords" content="Religion, Culture, Trinidad")
    title Religion in Trinidad
    link(rel="stylesheet" type="text/css" href="css/syle.css")
    
  style
    body{background-image: url("wither.jpg");background-color: 
    
  
  
  

  body
    .header CULTURE
  
      
